.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
form {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
button {
    background-color: rgb(70, 117, 217);
    height: 30px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    width: 208px;
    margin: 10px 0;
    border-radius: 3px;
}
input {
    margin: 10px 0;
    width: 200px;
    height: 25px;   
    text-align: center;
}